/* colors */
/* fonts */
.test {
  color: red; }

.clear {
  clear: both; }

.margin-bottom {
  margin-bottom: 100px; }

/* Navigation Bar */
.navbar {
  margin-bottom: 0px; }

.navbar-default {
  background-color: white !important;
  border-color: white !important; }

.navbar-right li a {
  text-transform: uppercase;
  font-weight: bold;
  color: #b6b6b6 !important;
  /* Safari */
  transition-duration: .5s; }
.navbar-right li a:hover {
  color: #345e9f !important; }
.navbar-right li a::after {
  position: relative;
  left: 15px;
  content: "/"; }
  @media (max-width: 768px) {
    .navbar-right li a::after {
      content: ""; } }
.navbar-right li:last-of-type a::after {
  content: ""; }

/* Header */
#homeHeaderWrapper .homeHeaderWrapperImage {
  background-image: url(../images/homeHeader.jpg);
  background-size: cover;
  height: 450px;
  margin-bottom: -50px;
  width: 100%;
  color: white; }
  #homeHeaderWrapper .homeHeaderWrapperImage .skewWhite {
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: linear-gradient(to right, rgba(255, 255, 255, 0.4) 0%, #ffffff 99%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#66ffffff',GradientType=1 );
    /* IE6-9 */
    position: relative;
    top: -200px;
    left: -10%;
    height: 400px;
    width: 40%;
    -ms-transform: skewX(-25deg);
    /* IE 9 */
    -webkit-transform: skewX(-25deg);
    /* Safari */
    transform: skewX(-25deg);
    /* Standard syntax */ }
  #homeHeaderWrapper .homeHeaderWrapperImage .skewBlue {
    background-color: rgba(52, 94, 159, 0.8);
    position: relative;
    top: 200px;
    left: -10%;
    height: 200px;
    width: 60%;
    -ms-transform: skewX(-25deg);
    /* IE 9 */
    -webkit-transform: skewX(-25deg);
    /* Safari */
    transform: skewX(-25deg);
    /* Standard syntax */ }
  #homeHeaderWrapper .homeHeaderWrapperImage img {
    position: relative;
    top: -400px;
    left: -20%;
    height: 150px;
    width: auto; }
  #homeHeaderWrapper .homeHeaderWrapperImage .container {
    position: relative;
    top: -175px;
    left: 0px; }
  #homeHeaderWrapper .homeHeaderWrapperImage .welcometext {
    position: relative;
    top: -200px;
    left: 20%;
    max-height: 150px;
    font-family: "PT Sans Narrow" sans-serif; }
  @media (min-width: 1201px) and (max-width: 1350px) {
    #homeHeaderWrapper .homeHeaderWrapperImage .welcometext {
      top: -200px;
      left: 25%; }
    #homeHeaderWrapper .homeHeaderWrapperImage .skewBlue {
      width: 65%; } }
  @media (min-width: 993px) and (max-width: 1200px) {
    #homeHeaderWrapper .homeHeaderWrapperImage .welcometext {
      top: -200px;
      left: 25%; }
    #homeHeaderWrapper .homeHeaderWrapperImage .skewBlue {
      width: 65%; } }
  @media (min-width: 769px) and (max-width: 992px) {
    #homeHeaderWrapper .homeHeaderWrapperImage {
      height: 400px; }
      #homeHeaderWrapper .homeHeaderWrapperImage .welcometext {
        -top: -200px;
        left: 20%; }
      #homeHeaderWrapper .homeHeaderWrapperImage .skewBlue {
        width: 75%; }
      #homeHeaderWrapper .homeHeaderWrapperImage .homeHeaderUnderImage {
        display: none; }
      #homeHeaderWrapper .homeHeaderWrapperImage .skewWhite {
        left: -15%; }
      #homeHeaderWrapper .homeHeaderWrapperImage img {
        left: -40%; } }
  @media (min-width: 650px) and (max-width: 768px) {
    #homeHeaderWrapper .homeHeaderWrapperImage {
      height: 400px; }
      #homeHeaderWrapper .homeHeaderWrapperImage .welcometext {
        top: -200px;
        left: 25%; }
      #homeHeaderWrapper .homeHeaderWrapperImage .skewBlue {
        width: 75%; }
      #homeHeaderWrapper .homeHeaderWrapperImage .homeHeaderUnderImage {
        display: none; }
      #homeHeaderWrapper .homeHeaderWrapperImage .skewWhite {
        left: -15%; }
      #homeHeaderWrapper .homeHeaderWrapperImage img {
        left: -25%; } }
  @media (min-width: 551px) and (max-width: 650px) {
    #homeHeaderWrapper .homeHeaderWrapperImage {
      height: 400px; }
      #homeHeaderWrapper .homeHeaderWrapperImage .welcometext {
        top: -200px;
        left: 25%; }
      #homeHeaderWrapper .homeHeaderWrapperImage .skewBlue {
        width: 75%; }
      #homeHeaderWrapper .homeHeaderWrapperImage .homeHeaderUnderImage {
        display: none; }
      #homeHeaderWrapper .homeHeaderWrapperImage .skewWhite {
        left: -17%; }
      #homeHeaderWrapper .homeHeaderWrapperImage img {
        left: -30%; } }
  @media (min-width: 480px) and (max-width: 550px) {
    #homeHeaderWrapper .homeHeaderWrapperImage {
      height: 200px; }
      #homeHeaderWrapper .homeHeaderWrapperImage .skewBlue, #homeHeaderWrapper .homeHeaderWrapperImage .welcometext, #homeHeaderWrapper .homeHeaderWrapperImage .homeHeaderUnderImage {
        display: none; }
      #homeHeaderWrapper .homeHeaderWrapperImage .homeHeaderUnderImage {
        display: none; }
      #homeHeaderWrapper .homeHeaderWrapperImage .skewWhite {
        top: 0px;
        left: -17%;
        width: 65%;
        height: 200px; }
      #homeHeaderWrapper .homeHeaderWrapperImage img {
        left: 15%;
        top: 0px; } }
  @media (min-width: 401px) and (max-width: 479px) {
    #homeHeaderWrapper .homeHeaderWrapperImage {
      height: 200px; }
      #homeHeaderWrapper .homeHeaderWrapperImage .skewBlue, #homeHeaderWrapper .homeHeaderWrapperImage .welcometext, #homeHeaderWrapper .homeHeaderWrapperImage .homeHeaderUnderImage {
        display: none; }
      #homeHeaderWrapper .homeHeaderWrapperImage .homeHeaderUnderImage {
        display: none; }
      #homeHeaderWrapper .homeHeaderWrapperImage .skewWhite {
        top: 0px;
        left: -17%;
        width: 65%;
        height: 200px; }
      #homeHeaderWrapper .homeHeaderWrapperImage img {
        left: 15%;
        top: 0px;
        height: 120px; } }
  @media (max-width: 400px) {
    #homeHeaderWrapper .homeHeaderWrapperImage {
      height: 200px; }
      #homeHeaderWrapper .homeHeaderWrapperImage .skewBlue, #homeHeaderWrapper .homeHeaderWrapperImage .welcometext, #homeHeaderWrapper .homeHeaderWrapperImage .homeHeaderUnderImage {
        display: none; }
      #homeHeaderWrapper .homeHeaderWrapperImage .homeHeaderUnderImage {
        display: none; }
      #homeHeaderWrapper .homeHeaderWrapperImage .skewWhite {
        top: 0px;
        left: -17%;
        width: 65%;
        height: 200px; }
      #homeHeaderWrapper .homeHeaderWrapperImage img {
        left: 15%;
        top: 0px;
        height: 100px; } }
  #homeHeaderWrapper .homeHeaderWrapperImage .homeHeaderUnderImage {
    background-image: url(../images/tekstBallonDing.png);
    position: relative;
    height: 50px;
    top: -350px;
    left: 0px; }
@media (min-width: 769px) and (max-width: 992px) {
  #homeHeaderWrapper {
    height: 400px; } }
@media (min-width: 650px) and (max-width: 768px) {
  #homeHeaderWrapper {
    height: 400px; } }
@media (min-width: 551px) and (max-width: 650px) {
  #homeHeaderWrapper {
    height: 400px; } }
@media (min-width: 480px) and (max-width: 550px) {
  #homeHeaderWrapper {
    height: 200px; } }
@media (min-width: 401px) and (max-width: 479px) {
  #homeHeaderWrapper {
    height: 200px; } }
@media (max-width: 400px) {
  #homeHeaderWrapper {
    height: 200px; } }

#headerWrapper .headerWrapperImage {
  background-image: url(../images/homeHeader.jpg);
  background-size: cover;
  height: 250px;
  margin-bottom: -50px;
  width: 100%;
  color: white; }
  #headerWrapper .headerWrapperImage .skewWhite {
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: linear-gradient(to right, rgba(255, 255, 255, 0.4) 0%, #ffffff 99%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#66ffffff',GradientType=1 );
    /* IE6-9 */
    position: relative;
    left: -10%;
    height: 200px;
    width: 40%;
    -ms-transform: skewX(-25deg);
    /* IE 9 */
    -webkit-transform: skewX(-25deg);
    /* Safari */
    transform: skewX(-25deg);
    /* Standard syntax */ }
  #headerWrapper .headerWrapperImage img {
    position: relative;
    top: -175px;
    left: 25px;
    height: 150px;
    width: auto; }
  #headerWrapper .headerWrapperImage .headerUnderImage {
    background-image: url(../images/tekstBallonDing.png);
    position: relative;
    background-size: cover;
    height: 50px;
    top: -150px;
    left: 0px; }
  @media (min-width: 769px) and (max-width: 992px) {
    #headerWrapper .headerWrapperImage {
      height: 200px; }
      #headerWrapper .headerWrapperImage .headerUnderImage {
        display: none; } }
  @media (min-width: 650px) and (max-width: 768px) {
    #headerWrapper .headerWrapperImage {
      height: 200px; }
      #headerWrapper .headerWrapperImage .headerUnderImage {
        display: none; }
      #headerWrapper .headerWrapperImage img {
        left: 8%;
        top: -175px; } }
  @media (min-width: 551px) and (max-width: 650px) {
    #headerWrapper .headerWrapperImage {
      height: 200px; }
      #headerWrapper .headerWrapperImage .headerUnderImage {
        display: none; }
      #headerWrapper .headerWrapperImage img {
        left: 5%;
        top: -175px; } }
  @media (min-width: 480px) and (max-width: 550px) {
    #headerWrapper .headerWrapperImage {
      height: 200px; }
      #headerWrapper .headerWrapperImage .headerUnderImage {
        display: none; }
      #headerWrapper .headerWrapperImage img {
        left: 10%;
        top: -175px; }
      #headerWrapper .headerWrapperImage .skewWhite {
        left: -17%;
        width: 60%; } }
  @media (min-width: 401px) and (max-width: 479px) {
    #headerWrapper .headerWrapperImage {
      height: 200px; }
      #headerWrapper .headerWrapperImage .headerUnderImage {
        display: none; }
      #headerWrapper .headerWrapperImage img {
        left: 5%;
        top: -175px; }
      #headerWrapper .headerWrapperImage .skewWhite {
        left: -17%;
        width: 60%; } }
  @media (max-width: 400px) {
    #headerWrapper .headerWrapperImage {
      height: 200px; }
      #headerWrapper .headerWrapperImage .headerUnderImage {
        display: none; }
      #headerWrapper .headerWrapperImage img {
        left: 10%;
        top: -175px;
        height: 120px; }
      #headerWrapper .headerWrapperImage .skewWhite {
        left: -17%;
        width: 65%; } }

/* Home Page */
/* ******************** */
.pageTitle {
  color: #345e9f;
  margin-bottom: 50px;
  width: 65%; }
  .pageTitle h1 {
    line-height: 1.5em;
    font-size: 2em;
    font-family: "PT Sans Narrow" sans-serif; }
  @media (min-width: 769px) and (max-width: 992px) {
    .pageTitle {
      margin-top: 80px;
      width: 100%; } }
  @media (min-width: 650px) and (max-width: 768px) {
    .pageTitle {
      margin-top: 80px;
      width: 100%; } }
  @media (min-width: 551px) and (max-width: 650px) {
    .pageTitle {
      margin-top: 80px;
      width: 100%; } }
  @media (min-width: 480px) and (max-width: 550px) {
    .pageTitle {
      margin-top: 80px;
      width: 100%; } }
  @media (min-width: 401px) and (max-width: 479px) {
    .pageTitle {
      margin-top: 80px;
      width: 100%; } }
  @media (max-width: 400px) {
    .pageTitle {
      margin-top: 80px;
      width: 100%; } }

.pageTitleHome {
  border-bottom: 3px solid #345e9f;
  color: #345e9f;
  margin-bottom: 75px;
  padding-bottom: 10px;
  width: 60%; }
  .pageTitleHome h1 {
    line-height: 1.5em;
    font-size: 2em;
    font-family: "PT Sans Narrow" sans-serif; }
  @media (min-width: 769px) and (max-width: 992px) {
    .pageTitleHome {
      width: 100%; } }
  @media (min-width: 650px) and (max-width: 768px) {
    .pageTitleHome {
      width: 100%; } }
  @media (min-width: 551px) and (max-width: 650px) {
    .pageTitleHome {
      width: 100%; } }
  @media (min-width: 480px) and (max-width: 550px) {
    .pageTitleHome {
      width: 100%; } }
  @media (min-width: 401px) and (max-width: 479px) {
    .pageTitleHome {
      width: 100%; } }
  @media (max-width: 400px) {
    .pageTitleHome {
      width: 100%; } }

h4 {
  color: #345e9f;
  font-weight: bold;
  font-size: 1.4em;
  padding-bottom: 10px;
  font-family: "PT Sans Narrow" sans-serif; }

.linkButton {
  background-color: white;
  border: 1px solid #f0f0f0;
  width: 150px;
  margin: 20px 0 10px 0; }
  .linkButton i {
    float: left;
    margin-right: 20px;
    background-color: #345e9f;
    color: white;
    padding: 10px; }
  .linkButton p {
    padding: 4px 0 0 0; }

@media (max-width: 991px) {
  .volgende {
    margin-top: 40px; } }

.lightgreyBoxVolgend {
  background-color: #f0f0f0;
  padding: 20px 10px;
  margin-bottom: 50px; }
  .lightgreyBoxVolgend .date {
    color: #345e9f;
    font-weight: bold;
    font-size: 1.3em;
    padding-bottom: 10px;
    font-family: "PT Sans Narrow" sans-serif; }
  .lightgreyBoxVolgend .short {
    padding-bottom: 10px;
    border-bottom: 1px solid #345e9f;
    margin-bottom: 15px; }
  .lightgreyBoxVolgend .name, .lightgreyBoxVolgend .description {
    line-height: 1.5em; }
  .lightgreyBoxVolgend .description {
    color: #345e9f;
    font-weight: bold;
    padding-bottom: 5px; }

.lightgreyBoxVorige {
  background-color: #f0f0f0;
  position: relative;
  min-height: 40px;
  margin: 5px; }
  .lightgreyBoxVorige .date {
    padding-right: 15px;
    line-height: 22px;
    color: #345e9f;
    font-weight: bold;
    font-family: "PT Sans Narrow" sans-serif; }
  .lightgreyBoxVorige .title {
    line-height: 1.2em; }
  .lightgreyBoxVorige .clickVerderButton {
    position: absolute;
    right: 0;
    height: 100%;
    width: 40px;
    padding: 0;
    background-color: #345e9f; }
    .lightgreyBoxVorige .clickVerderButton .arrow {
      position: absolute;
      right: 0;
      width: 40px;
      color: white; }
      .lightgreyBoxVorige .clickVerderButton .arrow img {
        padding: 10px; }

.lightgreyBoxVorige:first-of-type {
  margin-top: 35px; }

.bekijkAlle {
  margin-top: 35px;
  margin-bottom: 50px; }
  .bekijkAlle i {
    color: #345e9f; }
    .bekijkAlle i span {
      padding-left: 10px;
      color: black; }

#gallery .galleryItem {
  position: relative; }
#gallery .overlay {
  padding: 30px;
  text-align: center;
  color: white;
  z-index: 100;
  display: none;
  position: absolute;
  /*		background: url('../images/plus.png') no-repeat center;
		font-size: 3em; */
  background-color: rgba(52, 94, 159, 0.8); }
#gallery a:hover .overlay {
  display: inline-block; }
#gallery a:hover img {
  opacity: 0.3; }
#gallery .galleryImage {
  height: 220px;
  width: 100%; }
#gallery .galleryImage:last-of-type {
  margin-bottom: 30px; }

/* Pages */
/* ****************************** */
.pageSubTitle {
  border: none;
  color: #345e9f;
  padding-bottom: 0px 0px 10px 0px;
  margin-bottom: 50px; }
  .pageSubTitle h1 {
    margin-top: 0px;
    font-size: 1.5em;
    font-family: "PT Sans Narrow" sans-serif; }
  .pageSubTitle .titleLine {
    height: 3px;
    width: 50%;
    background-color: #345e9f; }
    @media (max-width: 992px) {
      .pageSubTitle .titleLine {
        width: 30%; } }

.textBlock img {
  display: block;
  margin: 35px auto 0px auto;
  width: 70%; }
.textBlock ul {
  color: #345e9f;
  padding-left: 15px;
  margin: 25px 0 0; }
  .textBlock ul li {
    list-style-type: none;
    margin-bottom: 5px; }
  .textBlock ul li:before {
    font-family: FontAwesome;
    content: '\f04b ';
    font-size: .7em;
    padding-right: 10px;
    color: #345e9f; }

.inschrijvenStappenWrapper .stap {
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  padding: 15px 5px;
  background-color: white;
  color: #989898; }
.inschrijvenStappenWrapper .activeStap {
  background-color: #f0f0f0;
  color: #345e9f; }

#inschrijvenWrapper {
  background-color: #f0f0f0;
  padding: 0; }
  #inschrijvenWrapper .formWrapper #inschrijvenForm {
    padding: 50px 0; }
    #inschrijvenWrapper .formWrapper #inschrijvenForm input {
      min-height: 45px;
      padding-left: 10px;
      border: none;
      outline: none;
      width: 100%;
      margin: 10px 0; }
    #inschrijvenWrapper .formWrapper #inschrijvenForm input:focus {
      border-left: 1px solid #345e9f !important; }
    #inschrijvenWrapper .formWrapper #inschrijvenForm button {
      margin: 0;
      padding: 0;
      margin: 30px 0;
      line-height: 30px;
      float: right; }

/* Footer */
/* ****************************** */
#homeFooterWrapper {
  margin-top: 50px; }
  #homeFooterWrapper .homeFooterWrapperImage {
    position: relative;
    background-image: url(../images/homeFooter.png);
    background-size: cover;
    height: 400px;
    width: 100%;
    color: white; }
    #homeFooterWrapper .homeFooterWrapperImage .blueOverlay {
      background-color: #345e9f;
      opacity: 0.7;
      min-height: 200px;
      width: 100%;
      position: absolute; }
  #homeFooterWrapper .schrijfIn {
    padding: 120px 0; }
    @media (max-width: 768px) {
      #homeFooterWrapper .schrijfIn {
        display: block;
        width: 80%;
        margin: 0 auto; } }
    @media (min-width: 401px) and (max-width: 600px) {
      #homeFooterWrapper .schrijfIn {
        padding: 75px; } }
    @media (max-width: 400px) {
      #homeFooterWrapper .schrijfIn {
        padding: 35px; } }
    #homeFooterWrapper .schrijfIn h3 {
      text-align: center;
      font-family: "PT Sans Narrow" sans-serif;
      color: white;
      font-size: 3em; }
    @media (max-width: 600px) {
      #homeFooterWrapper .schrijfIn {
        font-size: .75em; } }
    #homeFooterWrapper .schrijfIn .linkButton {
      margin: 50px auto;
      color: black; }

#footerWrapper .footerWrapperImage {
  position: relative;
  background-image: url(../images/homeFooter.png);
  background-size: cover;
  height: 220px;
  width: 100%;
  color: white; }
  #footerWrapper .footerWrapperImage .blueOverlay {
    background-color: #345e9f;
    opacity: 0.7;
    height: 200px;
    width: 100%;
    position: absolute; }
#footerWrapper .schrijfIn {
  padding: 20px 0; }
  @media (max-width: 768px) {
    #footerWrapper .schrijfIn {
      display: block;
      width: 80%;
      margin: 0 auto; } }
  @media (max-width: 400px) {
    #footerWrapper .schrijfIn {
      padding: 0px; } }
  #footerWrapper .schrijfIn h3 {
    text-align: center;
    font-family: "PT Sans Narrow" sans-serif;
    color: white;
    font-size: 2em; }
  #footerWrapper .schrijfIn .linkButton {
    margin: 50px auto;
    color: black; }

#postFooterWrapper {
  padding: 25px 0; }
  #postFooterWrapper .postFooter h2 {
    color: #345e9f;
    font-family: "PT Sans Narrow" sans-serif;
    font-size: 1.5em;
    margin-top: 30px; }
  #postFooterWrapper .postFooter .linkButton {
    width: 180px; }
  #postFooterWrapper .postFooter .linkButton:hover {
    cursor: pointer; }
  #postFooterWrapper .postFooter .logo img {
    width: 100%; }
  @media (max-width: 1200px) {
    #postFooterWrapper .postFooter .logo {
      display: none; } }
  #postFooterWrapper .postFooter .social .bol {
    float: left;
    margin-right: 10px;
    background-color: #345e9f;
    width: 32px;
    height: 32px;
    border-radius: 32px; }
    #postFooterWrapper .postFooter .social .bol img {
      width: 100%; }
  #postFooterWrapper .postFooter .sitemap {
    padding-left: 15px; }
    #postFooterWrapper .postFooter .sitemap li {
      list-style-type: none; }
    #postFooterWrapper .postFooter .sitemap li:before {
      font-family: FontAwesome;
      content: '\f04b ';
      font-size: .7em;
      padding-right: 10px;
      color: #345e9f; }
  @media (max-width: 600px) {
    #postFooterWrapper .postFooter {
      text-align: center; }
      #postFooterWrapper .postFooter .social {
        width: 130px;
        display: block;
        margin: 0 auto; }
      #postFooterWrapper .postFooter .xxs {
        width: 100% !important;
        text-align: center; }
        #postFooterWrapper .postFooter .xxs .linkButton {
          display: block;
          margin: 10px auto; } }


/*# sourceMappingURL=main.css.map */