/* colors */
$white: rgba(255, 255, 255, 1);
$white30: rgba(255, 255, 255, .3);
$white80: rgba(255, 255, 255, .8);
$black: rgba(0, 0, 0, 1);
$lightgrey: rgba(240, 240, 240, 1);
$darkgrey: rgba(152, 152, 152, 1);
$textgrey: rgba(182, 182, 182, 1);
$darkblue: rgba(52, 94, 159, 1);
$darkblue80: rgba(52, 94, 159, .8);

/* fonts */
$titlefont: "PT Sans Narrow" sans-serif;
$fontawesome: "";

.test {
	color: red;
}

.clear {clear:both;}
.margin-bottom{margin-bottom: 100px;}

/* Navigation Bar */
.navbar{margin-bottom: 0px;}
.navbar-default{
	background-color: $white !important;
	border-color: $white !important;
}

.navbar-right{
	li a{
		text-transform: uppercase;
		font-weight: bold;
		color: $textgrey !important;
    	-webkit-transition-duration: .5s; /* Safari */
		transition-duration: .5s;
	}
	li a:hover{
		color: $darkblue !important;
	}	
	li a::after{
		position: relative;
		left: 15px;
		content: "/";
      @media (max-width: 768px) {
        content: "";
      }
    }
	li:last-of-type a::after{
		content: "";
	}
}

/* Header */
#homeHeaderWrapper{
	.homeHeaderWrapperImage{
	    background-image: url(../images/homeHeader.jpg);
		background-size: cover;
		height: 450px;
		margin-bottom: -50px;
		width: 100%;
		color: $white;
		.skewWhite{
			background: -moz-linear-gradient(left, rgba(255,255,255,0.4) 0%, rgba(255,255,255,1) 99%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.4)), color-stop(99%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,1) 99%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,1) 99%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,1) 99%); /* IE10+ */
			background: linear-gradient(to right,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,1) 99%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#66ffffff',GradientType=1 ); /* IE6-9 */
			position: relative;
			top: -200px; left: -10%;
			height: 400px;
			width: 40%;
		    -ms-transform: skewX(-25deg); /* IE 9 */
		    -webkit-transform: skewX(-25deg); /* Safari */
		    transform: skewX(-25deg); /* Standard syntax */
		}
		.skewBlue{
			background-color: $darkblue80;
			position: relative;
			top: 200px; left: -10%;
			height: 200px;
			width: 60%;

		    -ms-transform: skewX(-25deg); /* IE 9 */
		    -webkit-transform: skewX(-25deg); /* Safari */
		    transform: skewX(-25deg); /* Standard syntax */
		}
		img{
			position: relative;
			top: -400px; left: -20%;
			height: 150px;
			width: auto;
		}
		.container{
			position: relative;
			top: -175px; left: 0px;
		}
		.welcometext{
			position: relative;
			top: -200px; left: 20%;
            max-height: 150px;
		  	font-family: $titlefont;
		}
		@media (min-width: 1201px) and (max-width: 1350px) {
			.welcometext{top: -200px; left: 25%;}
            .skewBlue{width: 65%;}
		}
		@media (min-width: 993px) and (max-width: 1200px) {
			.welcometext{top: -200px; left: 25%;}
            .skewBlue{width: 65%;}
		}
		@media (min-width: 769px) and (max-width: 992px) {
			.welcometext{-top: -200px; left: 20%;}
            .skewBlue{width: 75%;}
			.homeHeaderUnderImage{display: none;}
			.skewWhite{left: -15%;}
            img{left: -40%;}
			height: 400px;
		} 
		@media (min-width: 650px) and (max-width: 768px) {
			.welcometext{top: -200px; left: 25%;}
			.skewBlue{width: 75%;}
			.homeHeaderUnderImage{display: none;}
			.skewWhite{left: -15%;}
			img{left: -25%;}
			height: 400px;
		} 
		@media (min-width: 551px) and (max-width: 650px){
			.welcometext{top: -200px; left: 25%;}
			.skewBlue{width: 75%;}
			.homeHeaderUnderImage{display: none;}
			.skewWhite{left: -17%;}
			img{left: -30%;}
			height: 400px;
		}
		@media (min-width: 480px) and (max-width: 550px){
			.skewBlue, .welcometext, .homeHeaderUnderImage{display: none;}
			.homeHeaderUnderImage{display: none;}
			.skewWhite{
				top: 0px; left: -17%;
				width: 65%;
				height: 200px;
			}
			img{left: 15%; top: 0px;}
			height: 200px;
		}
		@media (min-width: 401px) and (max-width: 479px){
			.skewBlue, .welcometext, .homeHeaderUnderImage{display: none;}
			.homeHeaderUnderImage{display: none;}
			.skewWhite{
				top: 0px; left: -17%;
				width: 65%;
				height: 200px;
			}
			img{
				left: 15%;
				top: 0px;
				height: 120px;
			}
			height: 200px;
		}
		@media (max-width: 400px){
			.skewBlue, .welcometext, .homeHeaderUnderImage{display: none;}
			.homeHeaderUnderImage{display: none;}
			.skewWhite{
				top: 0px; left: -17%;
				width: 65%;
				height: 200px;
			}
			img{
				left: 15%;
				top: 0px;
				height: 100px;
			}
			height: 200px;
		}

		.homeHeaderUnderImage{
	    	background-image: url(../images/tekstBallonDing.png);
			position: relative;
			height: 50px;
			top: -350px; left: 0px;
		}
	}
	
	@media (min-width: 769px) and (max-width: 992px) {
		height: 400px;
	} 
	@media (min-width: 650px) and (max-width: 768px) {
		height: 400px;
	} 
	@media (min-width: 551px) and (max-width: 650px){
		height: 400px;
	}
	@media (min-width: 480px) and (max-width: 550px){
		height: 200px;
	}
	@media (min-width: 401px) and (max-width: 479px){
		height: 200px;
	}
	@media (max-width: 400px){
      height: 200px;
	}
}

#headerWrapper{
	.headerWrapperImage{
	    background-image: url(../images/homeHeader.jpg);
		background-size: cover;
		height: 250px;
		margin-bottom: -50px;
		width: 100%;
		color: $white;
		.skewWhite{
			background: -moz-linear-gradient(left, rgba(255,255,255,0.4) 0%, rgba(255,255,255,1) 99%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.4)), color-stop(99%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,1) 99%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,1) 99%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,1) 99%); /* IE10+ */
			background: linear-gradient(to right,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,1) 99%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#66ffffff',GradientType=1 ); /* IE6-9 */
			position: relative;
			left: -10%;
			height: 200px;
			width: 40%;
		    -ms-transform: skewX(-25deg); /* IE 9 */
		    -webkit-transform: skewX(-25deg); /* Safari */
		    transform: skewX(-25deg); /* Standard syntax */
		}
		img{
			position: relative;
			top: -175px; left: 25px;
			height: 150px;
			width: auto;
		}
		.headerUnderImage{
	    	background-image: url(../images/tekstBallonDing.png);
			position: relative;
			background-size: cover;
			height: 50px;
			top: -150px; left: 0px;
		}
		
		@media (min-width: 769px) and (max-width: 992px) {
			.headerUnderImage{display: none;}
			height: 200px;
		} 

		@media (min-width: 650px) and (max-width: 768px) {
			.headerUnderImage{display: none;}
			img{
				left: 8%;
				top: -175px;
			}
			height: 200px;
		} 
		@media (min-width: 551px) and (max-width: 650px){
			.headerUnderImage{display: none;}
			img{
				left: 5%;
				top: -175px;
			}
			height: 200px;
		}
		@media (min-width: 480px) and (max-width: 550px){
			.headerUnderImage{display: none;}
			img{
				left: 10%;
				top: -175px;
			}
			.skewWhite{left: -17%; width: 60%;}
			height: 200px;
		}
		@media (min-width: 401px) and (max-width: 479px){
			.headerUnderImage{display: none;}
			img{
				left: 5%;
				top: -175px;
			}
			.skewWhite{left: -17%; width: 60%;}
			height: 200px;
		}
		@media (max-width: 400px){
			.headerUnderImage{display: none;}
			img{
				left: 10%;
				top: -175px;
				height: 120px;
			}
			.skewWhite{left: -17%; width: 65%;}
			height: 200px;
		}
	}
}


/* Home Page */
/* ******************** */
.pageTitle{
//	border-bottom: 3px solid $darkblue;
	color: $darkblue;
	margin-bottom: 50px;
	width: 65%;
	h1{
		line-height: 1.5em;
		font-size: 2em;
	  	font-family: $titlefont;
	}
	@media (min-width: 769px) and (max-width: 992px) {
		margin-top: 80px;
		width: 100%;
	} 
	@media (min-width: 650px) and (max-width: 768px) {
		margin-top: 80px;
		width: 100%;
	} 
	@media (min-width: 551px) and (max-width: 650px){
		margin-top: 80px;
		width: 100%;
	}
	@media (min-width: 480px) and (max-width: 550px){
		margin-top: 80px;
		width: 100%;
	}
	@media (min-width: 401px) and (max-width: 479px){
		margin-top: 80px;
		width: 100%;
	}
	@media (max-width: 400px){
		margin-top: 80px;
		width: 100%;
	}
}
.pageTitleHome{
	border-bottom: 3px solid $darkblue;
	color: $darkblue;
	margin-bottom: 75px;
	padding-bottom: 10px;
	width: 60%;
	h1{
		line-height: 1.5em;
		font-size: 2em;
	  	font-family: $titlefont;
	}
	@media (min-width: 769px) and (max-width: 992px) {
		width: 100%;
	} 
	@media (min-width: 650px) and (max-width: 768px) {
		width: 100%;
	} 
	@media (min-width: 551px) and (max-width: 650px){
		width: 100%;
	}
	@media (min-width: 480px) and (max-width: 550px){
		width: 100%;
	}
	@media (min-width: 401px) and (max-width: 479px){
		width: 100%;
	}
	@media (max-width: 400px){
		width: 100%;
	}
}

h4{
	color: $darkblue;
	font-weight: bold;
	font-size: 1.4em;
	padding-bottom: 10px;
	font-family: $titlefont;
}

.linkButton{
	background-color: $white;
	border: 1px solid $lightgrey;
	width: 150px;
	margin: 20px 0 10px 0;
	i{
		float: left;
		margin-right: 20px;
		background-color: $darkblue;
		color: $white;
		padding: 10px;
	}
	p{
		padding: 4px 0 0 0;
	}
}

.volgende{
	@media (max-width: 991px){
		margin-top: 40px;
	}
}

.lightgreyBoxVolgend{
	background-color: $lightgrey;
	padding: 20px 10px;
	margin-bottom: 50px;
	.date{
		color: $darkblue;
		font-weight: bold;
		font-size: 1.3em;
		padding-bottom: 10px;
		font-family: $titlefont;
	}
	.short{
		padding-bottom: 10px;
		border-bottom: 1px solid $darkblue;
		margin-bottom: 15px;
	}
	.name, .description{
		line-height: 1.5em;
	}
	.description{
		color: $darkblue;	
		font-weight: bold;
		padding-bottom: 5px;
	}	
}

.lightgreyBoxVorige{
	background-color: $lightgrey;
    position: relative;
//	padding: 0;
	min-height: 40px;
	margin: 5px;
	.date{
		padding-right: 15px;
		line-height: 22px;
		color: $darkblue;
		font-weight: bold;
		font-family: $titlefont;
	}
    .title{
      line-height: 1.2em;
    }
	.clickVerderButton{
		position: absolute;
        right: 0;
        height: 100%;
        width: 40px;
        padding: 0;
        background-color: $darkblue;
		.arrow{
			position: absolute;
            right: 0;
			width: 40px;
			color: $white;
//			padding: 10px 0 0 15px;
            img{
              padding: 10px;
            }
		}
	}
  .clickVerderButton:hover{

  }

  }

.lightgreyBoxVorige:first-of-type{
	margin-top: 35px;
}

.bekijkAlle{
	margin-top: 35px;
	margin-bottom: 50px;
	i{
		color: $darkblue;
		span{
			padding-left: 10px;
			color: $black;
		}
	}
}

#gallery{
	.galleryItem{
		position: relative;
	}
	.overlay{
		padding: 30px;
		text-align: center;
		color: $white;
		z-index: 100;
		display: none;
		position: absolute;
/*		background: url('../images/plus.png') no-repeat center;
		font-size: 3em; */
		background-color: $darkblue80;
	}
	a:hover .overlay {
		display: inline-block;

	}
	a:hover img {
		opacity: 0.3;
	}
	.galleryImage{
		height: 220px;
		width: 100%;
		img{
		}
	}
	.galleryImage:last-of-type{
		margin-bottom: 30px;
	}
}


/* Pages */
/* ****************************** */
.pageSubTitle{
	border: none;
	color: $darkblue;
	padding-bottom: 0px 0px 10px 0px;
	margin-bottom: 50px;
	h1{
		margin-top: 0px;
		font-size: 1.5em;
	  	font-family: $titlefont;
	}
	.titleLine{
		height: 3px;
		width: 50%;
		background-color: $darkblue;
		@media (max-width: 992px) {
			width: 30%;
		} 
	}
}

.textBlock{
//	margin-bottom: 100px;
	img {
		display: block;
		margin: 35px auto 0px auto;
		width: 70%;
	}
	ul{
		color: $darkblue;
		padding-left: 15px;
		margin: 25px 0 0;
		li{
			list-style-type: none;
			margin-bottom: 5px;
		}
		li:before{
			font-family: FontAwesome;
			content: '\f04b ';
			font-size: .7em;
			padding-right: 10px;
			color: $darkblue;
		}
	}
}

.inschrijvenStappenWrapper{
	.stap{
		font-size: 1.3em;
		font-weight: bold;
		text-align: center;
		padding: 15px 5px;
		background-color: $white;
		color: $darkgrey;
	}
	.activeStap{
		background-color: $lightgrey;
		color: $darkblue;
	}
}

#inschrijvenWrapper{
	background-color: $lightgrey;
	padding: 0;
	.formWrapper{
		#inschrijvenForm{
			padding: 50px 0;
			input{
				min-height: 45px;
				padding-left: 10px;
				border: none;
				outline: none;
				width: 100%;
				margin: 10px 0;
			}
			input:focus{
				border-left: 1px solid $darkblue !important;
			}
			button{
				margin: 0; padding: 0;
				margin: 30px 0;
				line-height: 30px;
				float: right;
			}
		}
	}
}


/* Footer */
/* ****************************** */
#homeFooterWrapper{
  margin-top: 50px;
	.homeFooterWrapperImage{
		position: relative;
		background-image: url(../images/homeFooter.png);
		background-size: cover;
		height: 400px;
		width: 100%;
		color: $white;
		.blueOverlay{
			background-color: $darkblue;
			opacity: 0.7;
			min-height: 200px;
			width: 100%;
			position: absolute;
		}
	}
	.schrijfIn{
		@media (max-width: 768px){
			display: block;
			width: 80%;
			margin: 0 auto;
		}
		padding: 120px 0;
		@media (min-width: 401px) and (max-width: 600px){
			padding: 75px;
		}
		@media (max-width: 400px){
			padding: 35px;
		}
		h3{
			text-align: center;
		  	font-family: $titlefont;
			color: $white;
			font-size: 3em;
		}
		@media (max-width: 600px){
			font-size: .75em;
		}
		.linkButton{
			margin: 50px auto;
			color: $black;
		}
	}
}

#footerWrapper{
	.footerWrapperImage{
		position: relative;
		background-image: url(../images/homeFooter.png);
		background-size: cover;
		height: 220px;
		width: 100%;
		color: $white;
		.blueOverlay{
			background-color: $darkblue;
			opacity: 0.7;
			height: 200px;
			width: 100%;
			position: absolute;
		}
	}
	.schrijfIn{
		@media (max-width: 768px){
			display: block;
			width: 80%;
			margin: 0 auto;
		}
		padding: 20px 0;
		@media (max-width: 400px){
			padding: 0px;
		}
		h3{
			text-align: center;
		  	font-family: $titlefont;
			color: $white;
			font-size: 2em;
		}
		.linkButton{
			margin: 50px auto;
			color: $black;
		}
	}
}

#postFooterWrapper{
	padding: 25px 0;
	.postFooter{
		h2{
			color: $darkblue;
			font-family: $titlefont;
			font-size: 1.5em;
			margin-top: 30px;
		}
		.linkButton{
			width: 180px;
		}
        .linkButton:hover{
            cursor: pointer;
        }
		.logo img{
			width: 100%;
		}
		@media (max-width: 1200px){
			.logo{display: none;}
		}
		.social{
			.bol{
				float: left;
				margin-right: 10px;
				background-color: $darkblue;
				width: 32px; height: 32px;
				border-radius: 32px;
				img{
					width: 100%;
				}
			}
		}
		.sitemap{
			padding-left: 15px;
			li{
				list-style-type: none;
			}
			li:before{
				font-family: FontAwesome;
				content: '\f04b ';
				font-size: .7em;
				padding-right: 10px;
				color: $darkblue;
			}
		}
		@media (max-width: 600px){
			.social{
				width: 130px;
				display: block;
				margin: 0 auto;
			}
			.xxs{
				width: 100% !important;
				text-align: center;
				.linkButton{
					display: block;
					margin: 10px auto;
				}
			}
			text-align: center;
		}
	}
}
